@model Pizza_Shop_Repository.ViewModels.OrderAppTableList
@{
    ViewData["Title"] = "OrdersAppTable";
    Layout = "_OrderAppLayout";
}
<div class="p-2 pl-4 pr-4 pt-3">
    <div class="col-12 p-2 user-list-container d-flex justify-content-between order-header">
        <div class="h1 fw-bold text-primary mr-2">Table</div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center me-3">
                <div><i class="fa-solid fa-circle text-secondary me-2"></i>Available</div>
            </div>
            <div class="d-flex justify-content-center align-items-center me-3">
                <div><i class="fa-regular fa-circle text-success me-2"></i>Selected</div>
            </div>
            <div class="d-flex justify-content-center align-items-center me-3">
                <div><i class="fa-solid fa-circle text-success me-2"></i>Assigned</div>
            </div>
            <div class="d-flex justify-content-center align-items-center me-3">
                <div><i class="fa-solid fa-circle text-primary me-2"></i>Running</div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="accordion accordion-flush" id="accordionSectionList">
            @foreach (var s in Model.TableSectionList)
            {
                <div class="accordion-item mb-2 border rounded">
                    <h2 class="accordion-header d-flex flex-row align-items-center justify-content-center"
                        id="headingOne-@s.SectionId">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <div class="d-flex justify-content-between align-items-center w-100" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne-@s.SectionId">
                                <button class="w-0 accordion-button collapsed tableSectionAccord accord_btn ms-1"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-@s.SectionId"
                                    aria-expanded="false" aria-controls="collapseOne-@s.SectionId">
                                </button>
                                <div class="w-100 ms-2 d-flex justify-content-between align-items-center">
                                    <div class="fs-5">@s.SectionName</div>
                                    <div class="d-flex justify-content-center align-items-center fs-6">
                                        <div class="d-flex justify-content-center align-items-center me-2">
                                            <div><i class="fa-solid fa-circle text-secondary me-1"></i>@s.Available</div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center me-2">
                                            <div><i class="fa-solid fa-circle text-success me-1"></i>@s.Assigned</div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center me-2">
                                            <div><i class="fa-solid fa-circle text-primary me-1"></i>@s.Running</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="me-3">
                                <button type="button" id="AddWaitingTokenBtn" class="btn btn-outline-primary modal_close_btn fs-5 mt-2 mb-2" data-sectionid="@s.SectionId">
                                    + Waiting Token
                                </button>
                            </div>
                        </div>
                    </h2>
                    <div id="collapseOne-@s.SectionId" class="accordion-collapse collapse"
                        aria-labelledby="headingOne-@s.SectionId" data-bs-parent="#accordionSectionList">
                        <div class="accordion-body">
                            <div class="row">
                                @foreach (var t in s.TableList)
                                {
                                    <div class="col-lg-2 col-md-4 col-sm-2 mb-2 @t.TableStatus" data-sectionid="@s.SectionId"
                                        data-tableid="@t.TableId" data-tablecapacity="@t.TableCapacity" id="@t.TableId">
                                        <div class="card">
                                            @if (t.TableStatus == "Running")
                                            {
                                                <div class="card-body p-2 RunningTable" data-orderid="@t.OrderId" data-customerid="@t.CustomerId">
                                                    <div class="d-flex flex-row align-items-center justify-content-between">
                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                            <div class="h4 text-primary">@t.TableName</div>
                                                            <div><i class="fa-solid fa-users"></i></div>
                                                            <div>@t.TableCapacity</div>
                                                        </div>
                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                            <div>
                                                                1234
                                                            </div>
                                                            <div>
                                                                <i class="fa-solid fa-clock"></i>
                                                            </div>
                                                            <div class="assigntimecounter" data-assigntime="@t.AssignTime.ToString("yyyy-MM-ddTHH:mm:ss")">
                                                                <span class="assigntimecountertext">@t.AssignTime</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (t.TableStatus == "Available")
                                            {
                                                <div class="card-body p-2 avaliable_card">
                                                    <div class="d-flex flex-row align-items-center justify-content-between">
                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                            <div class="h4 text-primary">@t.TableName</div>
                                                            <div><i class="fa-solid fa-users"></i></div>
                                                            <div>@t.TableCapacity</div>
                                                        </div>
                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                            <div>
                                                                1234
                                                            </div>
                                                            <div>
                                                                <i class="fa-solid fa-clock"></i>
                                                            </div>
                                                            <div>
                                                                0 min
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (t.TableStatus == "Assigned")
                                            {
                                                <div class="card-body p-2 AssignTable" data-customerid="@t.CustomerId" data-orderid="@t.OrderId">
                                                    <div class="d-flex flex-row align-items-center justify-content-between">
                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                            <div class="h4 text-primary">@t.TableName</div>
                                                            <div><i class="fa-solid fa-users"></i></div>
                                                            <div>@t.TableCapacity</div>
                                                        </div>
                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                            <div>
                                                                1234
                                                            </div>
                                                            <div>
                                                                <i class="fa-solid fa-clock"></i>
                                                            </div>
                                                            <div class="assigntimecounter" data-assigntime="@t.AssignTime.ToString("yyyy-MM-ddTHH:mm:ss")">
                                                                <span class="assigntimecountertext">@t.AssignTime</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-end align-items-center mt-2">
                                    <button type="submit" class="btn btn-primary modal_submit_btn assignbtn fs-5"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight" data-sectionid="@s.SectionId"
                                        id="Assign-btn-@s.SectionId" disabled>
                                        Assign</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
    style="width: 600px;">
    <div class="offcanvas-body  row d-flex flex-column mt-2 p-2">
        <div class="offcanvasmainbody">
            <div id="offcanvaswaitinglist">

            </div>
            <div class="my-2" id="offcanvascustomerdetail">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddWaitingTokenModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
    </div>
  </div>
</div>

@section Scripts {
    <script src="~/js/OrderAppTable.js"></script>
}