@model Pizza_Shop_Repository.ViewModels.OffCanvasCustomerDetailViewModel
<div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">Waiting Token Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="EditWaitingTokenForm" method="post">
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="hidden" asp-for="@Model.CustomerId">
                    <input type="hidden" asp-for="@Model.WaitingTokenId">
                    <input type="email" class="form-control" id="EditWaitingTokenCustomerEmail" placeholder="Email"
                        asp-for="@Model.Email" disabled>
                    <label for="EditWaitingTokenCustomerEmail">Email* </label>
                    <span class="text-danger" asp-validation-for="@Model.Email"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="EditWaitingTokenCustomerName" placeholder="Name"
                        asp-for="@Model.CustomerName">
                    <label for="EditWaitingTokenCustomerName">Name* </label>
                    <span class="text-danger" asp-validation-for="@Model.CustomerName"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="EditWaitingTokenCustomerMobileNo" placeholder="Mobile No"
                        asp-for="@Model.Phoneno">
                    <label for="EditWaitingTokenCustomerMobileNo">Mobile Number* </label>
                    <span class="text-danger" asp-validation-for="@Model.Phoneno"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="EditWaitingTokenNoOfPerson" placeholder="No Of Person"
                        asp-for="@Model.NoOfPerson">
                    <label for="EditWaitingTokenNoOfPerson">Number Of Person* </label>
                    <span class="text-danger" asp-validation-for="@Model.NoOfPerson"></span>
                </div>
            </div>
            <div class="col-6 w-100">
                <div class="form-floating mb-3">
                    <select class="form-select" id="EditWaitingTokenSection" placeholder="Section"
                        aria-label="Floating label select example" asp-for="@Model.SectionId">
                        <option selected value="">Select Section</option>
                        @foreach (var s in Model.SectionList)
                        {
                            <option value="@s.SectionId">@s.SectionName</option>
                        }
                    </select>
                    <label for="EditWaitingTokenSection">Section*</label>
                    <span class="text-danger" asp-validation-for="@Model.SectionId"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="EditWaitingTokenFormSubmit" class="btn btn-primary modal_submit_btn">Save</button>
        <button type="button" class="btn btn-outline-primary modal_close_btn" data-bs-dismiss="modal">
            Cancel
        </button>
    </div>
</form>